@import "../fonts/typography.css";

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow:hidden;
  position:fixed;
  height:100%;
  width:100%;
}
body {
  background-color:#030303;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt"; 
  overflow:hidden;
  position:fixed;
  height:100%;
  width:100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  font-family: Cabin;
  font-size: 20px;
  color: white;
}

span {
  position: relative;
  display: block;
  cursor: pointer;
}
/* 
span:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 12px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
  opacity:0.8;
}

span:before {
  left: -2.5px;
}
span:after {
  right: 2.5px;
  background: #F1A208;
  transition: width 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
  background: #F1A208;
  width: 100%;
  transition: width 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
} */

.footerItem {
  position: relative;
  display: block;
  cursor: pointer;
}

.footerItem:before, .footerItem:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
  opacity:0.8;
}

.footerItem:before {
  left: -2.5px;
}
.footerItem:after {
  right: 2.5px;
  background: #F1A208;
  transition: width 0.8s cubic-bezier(0.22, 0.1, 0.1, 1);
}

.footerItem:hover:before {
  background: #F1A208;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.1, 0.1, 1);
}

.footerItem:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  color: inherit;
  font-family: Montserrat;
  /* margin-left: 2rem; */
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 1.25rem;
  line-height: 1.1;
  margin-block-start: 0.65em;
  margin-block-end: 0.65em;
}
h2 {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  color: inherit;
  font-family: Cabin;
  margin-left: 2rem;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 1.5rem;
  line-height: 1.1;
  font-weight: 500;
}
p {
  font-family: Cabin;
  margin-left: 2rem;
  margin-right: 1em;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  font-size: 1.1vw;
  line-height: 1.3;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  padding: 0.35em 0.625em 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}

h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  /* margin-left: 1.45rem; */
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li
  /* margin-bottom: calc(1.45rem / 2); */
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  /* margin-left: 1.45rem; */
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}


/* HEADER */

/* header animation */
:root {
  --line: #BBC1E1;
  --line-active: #38A700;
}
/* header links styling */
.header-svg {
  width: 76px;
  height: 40px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 7px) translateZ(0);
  fill: none;
  stroke: var(--stroke, var(--line));
  stroke-linecap: round;
  stroke-width: 2px;
  stroke-dasharray: var(--offset, 69px) 278px;
  stroke-dashoffset: 361px;
  transition: stroke .25s ease var(--stroke-delay, 0s), stroke-dasharray .35s;
}
.header-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  margin: 0 var(--spacing, 0px);
  transition: margin .25s;
  text-decoration: none;
  font-size: .8vw;
  font-family:Montserrat-Regular;
  color:white
}
.header-link:hover {
  --spacing: 4px;
  --stroke: var(--line-active);
  --stroke-delay: .1s;
  --offset: 180px;
}
.nav-bar {
  background: #030303;
  width: 100%;
  padding: 1.25rem 2rem 1.25rem 2rem;
  overflow: hidden;
  z-index: 1;
}
.nav-wrapper {
  margin: 0;
  width: 100%;
  padding: 1.45rem 1.0875rem;
  display: flex;
  justify-content: space-between;
}

/* FOOTER */
.icons-wrapper {
  position: absolute;
  left:0;
  bottom:0;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:2rem;
}
.footer-circle-wrapper {
  position: absolute;
  right:0;
  bottom:0%;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:2rem;
  z-index:5;
}
/* icon styling */
.fa{ 
  text-align:center;
  line-height:50px;
  transition: all .3s ease;
}
.fa:hover {
  transition: all .3s ease;
  box-shadow: 5px 5px 5px #000;
  transform: translateY(-5px);
}
/* rotating cicle */
.animated-circle-text {
  width: 10vw;
  height: 10vw;
  overflow: hidden;
  position: relative;
}
.animated-circle-text-svg{
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.animated-circle-font{
  font-family: Cabin;
  font-size: 1vw;
  fill: white ;
}
textPath {
  letter-spacing: 4px
}
@keyframes rotate {
  from{transform: rotate(360deg);}
  to{transform: rotate(0);}
}

/* INDEX */
.index-wrapper {
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 90vh;
}
.index-header-left {
  color: white;
  font-size: 8vw;
  margin-right: 15rem;
  text-align:left;
  margin-block-end:0em;
  margin-block-start:0.7em;
  line-height: 0.2
}
.index-header-left-layer2 {
  color: white;
  font-size: 8vw;
  margin-right: 15rem;
  text-align:left;
  margin-block-start:0em;
  margin-block-end:1.25em;
  line-height: 0;
  -webkit-text-fill-color:transparent;
  -webkit-text-stroke-width: 1px;
}
.index-header-right {
  color: white;
  font-size: 8vw;
  text-align:right;
  margin-block-end:0em;
  margin-block-start:0.7em;
  line-height: 0.2
}
.index-header-right-layer2 {
  color: white;
  -webkit-text-fill-color:transparent;
  -webkit-text-stroke-width: 1px;
  font-size: 8vw;
  text-align:right;
  margin-block-start:0em;
  margin-block-end:1.25em;
  line-height: 0;
}

/* ABOUT */
.about-wrapper {
  display: flex;
  height: 80vh;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.about-top-div {
  display: flex;
  flex-direction:column;
  justify-content: center;
}
.about-header-text-top {
  color: white;
  font-size: 7vw;
  margin-block-end: 0em;
  margin-block-start:0em;
  padding: 2rem 0 0 8rem;
}
.about-header-text-bottom {
  color: white;
  font-size: 7vw;
  margin-block-end:0em;
  margin-block-start:0em;
  padding-left: 8rem
}
.about-bottom-div {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}
.about-bottom-div-left {
  display: flex;
  flex-direction:column;
  width:50%
}
.about-text-header1 {
  font-family:Montserrat-Regular;
  color: white;
  padding: 5rem 0 0 6.5rem;
  font-size:1.5vw;
  line-height:0;
  font-style:regular;
  font-weight:600
}
.about-text-header2 {
  font-family:Montserrat-LightItalic;
  color: white;
  padding: 2rem 0 0 6.5rem;
  font-size:0.9vw;
  margin-top: 0;
  line-height:0;
}
.about-body-text-1 {
  color: white;
  padding: 3rem 0 0 6.5rem;
  margin-top:1rem
}
.about-body-text-2 {
  color: white;
  padding: 3rem 0 0 6.5rem
}
.about-bottom-div-right {
  display: flex;
  flex-direction:row;
  margin-top: 3.5rem;
  width:60%;
  padding-left:0rem;
  justify-content:center;
}

/* CONTACT */

.contact-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height:80vh;
  width:100%;
}
.contact-left-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 5em;
}
.contact-right-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:flex-start;
  padding-right: 7em;
}
.contact-header1 {
  color:white; 
  font-size: 7vw; 
  line-height:0; 
  -webkit-text-fill-color:transparent;
  -webkit-text-stroke-width: 1px;
  width:45vw
}
.contact-header2 {
  color:white; 
  font-size: 7vw; 
  line-height:0;
  margin-block-end:0.15em;
  width:45vw
}
.contact-header2-layer2 {
  color:white; 
  font-size: 7vw; 
  line-height:0;
  -webkit-text-fill-color:transparent;
  -webkit-text-stroke-width: 1px;
  margin-block-start:0em;
}
.contact-header3 {
  color:white; 
  font-size: 7vw; 
  line-height:0; 
  -webkit-text-fill-color:transparent;
  -webkit-text-stroke-width: 1px;
  width:45vw
}
.contact-text {
  color: white;
  font-family:Montserrat-Regular; 
  font-size:2.5vw
}
.contact-link {
  font-family:Montserrat-LightItalic; 
  margin-left: 2rem;
  color:white; 
  font-size: 2.5vw;
  margin-top: 1em
}

/* 404 */
.not-found-wrapper {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  margin-top:20%;
  z-index:5;
}
.not-found-header {
  color:white;
  font-size: 3vw;
  margin-block-start: 0;
}
.not-found-text {
  color:white;
  font-size: 1.5vw;
  margin:0;
  padding:0;
}
.not-found-link {
  text-decoration: none;
  font-size: 1vw;
  font-family:Montserrat;
  margin-top:2rem;
}

/* mobile */
@media only screen and (max-width: 600px) {
  /* INDEX */
  .index-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 23vh;
  }
  .index-header-left {
    font-size: 15vw;
    margin-right: 0;
    text-align:center;
    margin-block-start:0em;
  }
  .index-header-left-layer2 {
    font-size: 15vw;
    margin-right: 0;
    text-align:center;
    margin-block-end:1.25em;
  }
  .index-header-right {
    font-size: 15vw;
    text-align:center;
    margin-block-start:2em;
  }
  .index-header-right-layer2 {
    font-size: 15vw;
    text-align:center;
    margin-block-end:1.25em;
  }
  /* FOOTER */
  .icons-wrapper {
    padding:1rem;
  }
  .footer-circle-wrapper {
    padding:1rem;
  }
  .animated-circle-font{
    font-size: 6vw;
  }
  .animated-circle-text {
    width: 26vw;
    height: 28vw;
  }
  /* HEADER */
  .header-link {
    font-size: 4.2vw;
  }
  .nav-bar {
    padding: 1rem 1.5rem .5rem 1.5rem ;
  }
  .nav-wrapper {
    padding:0;
  } 
  /* ABOUT */
  .about-bottom-div {
    display: flex;
    flex-direction:column;
    justify-content: center;
  }
  .about-header-text-top {
    font-size: 13vw;
    padding: 1vh 0 0 1.5rem;
  }
  .about-header-text-bottom {
    font-size: 13vw;
    padding-left: 1.5rem
  }
  .about-text-header1 {
    padding: 1.5rem 0 0 0rem;
    font-size:5vw;
  }
  .about-text-header2 {
    padding: 1.25rem 0 0 0rem;
    font-size:5vw;
  }
  .about-body-text-1 {
    padding: 1.25rem 0 0 0rem;
    margin-top:0.5rem;
    font-size: 4.3vw;
    line-height: 1.3;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  .about-body-text-2 {
    padding: 1.25rem 0 0 0rem;
    font-size: 4.3vw;
    line-height: 1.3;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  .about-bottom-div-right {
    margin-top: 1rem;
    width:100%;
    padding-left:0rem;
  }
  .about-bottom-div-left {
    width:100%
  }
  /* CONTACT */
  .contact-wrapper { 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5rem;
  }
  .contact-header1 {
    font-size: 13vw;
    width:100%
  }
  .contact-header2 {
    font-size: 13vw;
    width:100%
  }
  .contact-header2-layer2 {
    font-size: 13vw;
    width:100%
  }
  .contact-header3 {
    font-size: 13vw;
    width:100%
  }
  .contact-left-col { 
    padding-left: 0rem;
  }
  .contact-right-col { 
    margin-top: 5rem;
    padding-right: 0rem;
    align-items:center;
  }
  .contact-text {
    font-size:6vw;
    margin-left: 0;
    margin-right: 0;
  }
  .contact-link {
    margin-left: 0rem;
    font-size: 6vw;
    margin-top: 1em
  }
  /* 404 */
  .not-found-wrapper {
    margin-top:75%;
    z-index:5;
  }
  .not-found-header {
    color:white;
    font-size: 7vw;
    margin-block-start: 0;
  }
  .not-found-text {
    color:white;
    font-size: 5vw;
    margin:0;
    padding:0;
  }
  .not-found-link {
    font-size: 5vw;
    margin-top:2rem;
  }

}

/* large phones / portrait tablets */
@media only screen and (min-width: 600px) {
  /* INDEX */
  .index-wrapper {
    flex-direction: column;
  }
  .index-header-left {
    font-size: 13vw;
    margin-right: 0;
    text-align:center;
  }
  .index-header-left-layer2 {
    font-size: 13vw;
    margin-right: 0;
    text-align:center;
  }
  .index-header-right {
    font-size: 13vw;
    text-align:center;
    margin-block-start:2em;
  }
  .index-header-right-layer2 {
    font-size: 13vw;
    text-align:center;
    margin-block-end:1.25em;
  }
  /* FOOTER */
  .animated-circle-font{
    font-size: 3vw;
  }
  .animated-circle-text {
    width: 16vw;
    height: 17vw;
  }
  /* HEADER */
  .header-link {
    font-size: 2.25vw;
  }
  .nav-bar {
    padding: 2rem;
  }
  .nav-wrapper {
    padding:0;
  } 
  /* ABOUT */
  .about-bottom-div {
    display: flex;
    flex-direction:column;
    justify-content: center;
  }
  .about-header-text-top {
    font-size: 13vw;
    padding: 5rem 0 0 2rem;
  }
  .about-header-text-bottom {
    font-size: 13vw;
    padding-left: 2rem
  }
  .about-text-header1 {
    padding: 5rem 0 0 .5rem;
    font-size:3.5vw;
  }
  .about-text-header2 {
    padding: 2rem 0 0 .5rem;
    font-size:3.5vw;
  }
  .about-body-text-1 {
    padding: 3rem 0 0 .5rem;
    margin-top:1rem;
    font-size: 3vw;
  }
  .about-body-text-2 {
    padding: 3rem 0 0 .5rem;
    font-size: 3vw;
  }
  .about-bottom-div-right {
    margin-top: 2rem;
    width:100%;
    padding-left:0rem;
  }
  .about-bottom-div-left {
    width:100%
  }
  /* CONTACT */
  .contact-wrapper { 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-header1 {
    font-size: 13vw;
    width:100%
  }
  .contact-header2 {
    font-size: 13vw;
    width:100%
  }
  .contact-header2-layer2 {
    font-size: 13vw;
    width:100%
  }
  .contact-header3 {
    font-size: 13vw;
    width:100%
  }
  .contact-left-col { 
    padding-left: 0rem;
  }
  .contact-right-col { 
    margin-top: 5rem;
    padding-right: 0rem;
    align-items:center;
  }
  .contact-text {
    font-size:4vw
  }
  .contact-link {
    margin-left: 0rem;
    font-size: 4vw;
    margin-top: 1em
  }
  /* 404 */
  .not-found-wrapper {
    margin-top:45%;
    z-index:5;
  }
  .not-found-header {
    color:white;
    font-size: 4vw;
    margin-block-start: 0;
  }
  .not-found-text {
    color:white;
    font-size: 3vw;
    margin:0;
    padding:0;
  }
  .not-found-link {
    font-size: 3vw;
    margin-top:2rem;
  }
}

/* landscape tablets */
@media only screen and (min-width: 768px) {
  /* INDEX */
  .index-wrapper {
    flex-direction: row;
  }
  .index-header-left {
    font-size: 10vw;
    margin-right: 6rem;
    text-align:left;
  }
  .index-header-left-layer2 {
    font-size: 10vw;
    margin-right: 6rem;
    text-align:left;
  }
  .index-header-right {
    font-size: 10vw;
    text-align:right;
    margin-block-start:0.7em;
  }
  .index-header-right-layer2 {
    font-size: 10vw;
    text-align:right;
  }
  /* FOOTER */
  .animated-circle-font{
    font-size: 2.75vw;
  }
  .animated-circle-text {
    width: 15vw;
    height: 16vw;
  }
  /* HEADER */
  .header-link {
    font-size: 2vw;
  }
  .nav-bar {
    padding: 2rem;
  }
  .nav-wrapper {
    padding:0;
  } 
  /* ABOUT */
  .about-bottom-div {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
  }
  .about-header-text-top {
    font-size: 12vw;
    padding: 2rem 0 0 2rem;
  }
  .about-header-text-bottom {
    font-size: 12vw;
    padding-left: 2rem
  }
  .about-text-header1 {
    padding: 3rem 0 0 .5rem;
    font-size:3vw;
  }
  .about-text-header2 {
    padding: 2rem 0 0 .5rem;
    font-size:3vw;
  }
  .about-body-text-1 {
    padding: 3rem 0 0 .5rem;
    margin-top:1rem;
    font-size: 2.5vw;
  }
  .about-body-text-2 {
    padding: 3rem 0 0 .5rem;
    font-size: 2.5vw;
  }
  .about-bottom-div-right {
    margin-top: 7rem;
    width:40%;
    padding-left:0rem;
  }
  .about-bottom-div-left {
    width:80%
  }
  /* CONTACT */
  .contact-wrapper { 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-header1 {
    font-size: 13vw;
    width:100%
  }
  .contact-header2 {
    font-size: 13vw;
    width:100%
  }
  .contact-header2-layer2 {
    font-size: 13vw;
    width:100%
  }
  .contact-header3 {
    font-size: 13vw;
    width:100%
  }
  .contact-left-col { 
    padding-left: 0rem;
  }
  .contact-right-col { 
    margin-top: 5rem;
    padding-right: 0rem;
    align-items:center;
  }
  .contact-text {
    font-size:4vw
  }
  .contact-link {
    margin-left: 0rem;
    font-size: 4vw;
    margin-top: 1em
  }
  /* 404 */
  .not-found-wrapper {
    margin-top:45%;
    z-index:5;
  }
  .not-found-header {
    color:white;
    font-size: 4vw;
    margin-block-start: 0;
  }
  .not-found-text {
    color:white;
    font-size: 2vw;
    margin:0;
    padding:0;
  }
  .not-found-link {
    font-size: 2vw;
    margin-top:2rem;
  }
}

/* laptops/desktops */
@media only screen and (min-width: 992px) {
  /* INDEX */
  .index-wrapper {
    flex-direction: row;
  }
  .index-header-left {
    font-size: 9vw;
    margin-right: 8rem;
  }
  .index-header-left-layer2 {
    font-size: 9vw;
    margin-right: 8rem;
  }
  .index-header-right {
    font-size: 9vw;
  }
  .index-header-right-layer2 {
    font-size: 9vw;
  }
  /* FOOTER */
  .animated-circle-font{
    font-size: 2vw;
  }
  .animated-circle-text {
    width: 14vw;
    height: 14vw;
  }
  /* HEADER */
  .header-link {
    font-size: 1.5vw;
  }
  .nav-bar {
    padding: 2rem;
  }
  .nav-wrapper {
    padding:0;
  } 
  /* ABOUT */
  .about-header-text-top {
    font-size: 10vw;
    padding: 5rem 0 0 4rem;
  }
  .about-header-text-bottom {
    font-size: 10vw;
    padding-left: 4rem
  }
  .about-text-header1 {
    padding: 5rem 0 0 3rem;
    font-size:2.4vw;
  }
  .about-text-header2 {
    padding: 2rem 0 0 3rem;
    font-size:2.4vw;
  }
  .about-body-text-1 {
    padding: 3rem 0 0 3rem;
    margin-top:1rem;
    font-size: 1.9vw;
  }
  .about-body-text-2 {
    padding: 3rem 0 0 3rem;
    font-size: 1.9vw;
  }
  .about-bottom-div-right {
    margin-top: 7rem;
    width:40%;
    padding-left:0rem;
  }
  .about-bottom-div-left {
    width:80%
  }
  /* CONTACT */
  .contact-wrapper { 
    flex-direction: row;
  }
  .contact-header1 {
    font-size: 7vw;
    width:45vw
  }
  .contact-header2 {
    font-size: 7vw;
    width:45vw
  }
  .contact-header2-layer2 {
    font-size: 7vw;
    width:45vw
  }
  .contact-header3 {
    font-size: 7vw;
    width:45vw
  }
  .contact-left-col { 
    padding-left: 5rem;
  }
  .contact-right-col { 
    padding-right: 1rem;
    margin-top: 0;
    align-items: flex-start;
  }
  .contact-text {
    font-size:2.5vw;
    margin-left: 0;
  }
  .contact-link {
    margin-left: 0rem;
    font-size: 2.5vw;
    margin-top: 1em
  }
  /* 404 */
  .not-found-wrapper {
    margin-top:30%;
    z-index:5;
  }
  .not-found-header {
    color:white;
    font-size: 3vw;
    margin-block-start: 0;
  }
  .not-found-text {
    color:white;
    font-size: 2vw;
    margin:0;
    padding:0;
  }
  .not-found-link {
    font-size: 2vw;
    margin-top:2rem;
  }
}

/* large laptops */
@media only screen and (min-width: 1200px) {
  /* INDEX */
  .index-wrapper {
    flex-direction: row;
  }
  .index-header-left {
    margin-right: 10rem;
  }
  .index-header-left-layer2 {
    margin-right: 10rem;
  }
  /* FOOTER */
  .animated-circle-font{
    font-size: 1.5vw;
  }
  .animated-circle-text {
    width: 12vw;
    height: 12vw;
  }
  /* HEADER */
  .header-link {
    font-size: 1.25vw;
  }
  .nav-bar {
    padding: 2rem;
  }
  .nav-wrapper {
    padding:0;
  } 
  /* ABOUT */
  .about-header-text-top {
    font-size: 10vw;
    padding: 5rem 0 0 4rem;
  }
  .about-header-text-bottom {
    font-size: 10vw;
    padding-left: 4rem
  }
  .about-text-header1 {
    padding: 5rem 0 0 3rem;
    font-size:2.4vw;
  }
  .about-text-header2 {
    padding: 2rem 0 0 3rem;
    font-size:2.4vw;
  }
  .about-body-text-1 {
    padding: 3rem 0 0 3rem;
    margin-top:1rem;
    font-size: 1.7vw;
  }
  .about-body-text-2 {
    padding: 3rem 0 0 3rem;
    font-size: 1.7vw;
  }
  .about-bottom-div-right {
    margin-top: 7rem;
    width:40%;
    padding-left:0rem;
  }
  .about-bottom-div-left {
    width:80%
  }
  /* CONTACT */
  .contact-left-col { 
    padding-left: 5rem;
  }
  .contact-right-col { 
    padding-right: 1rem;
  }
  /* 404 */
  .not-found-wrapper {
    margin-top:30%;
    z-index:5;
  }
  .not-found-header {
    color:white;
    font-size:4vw;
    margin-block-start: 0;
  }
  .not-found-text {
    color:white;
    font-size: 2vw;
    margin:0;
    padding:0;
  }
  .not-found-link {
    font-size: 2vw;
    margin-top:2rem;
  }

}

/* higher res screens */
@media only screen and (min-width: 1500px) {
  /* INDEX */
  .index-wrapper {
    flex-direction: row;
  }
  .index-header-left {
    margin-right: 13rem;
  }
  .index-header-left-layer2 {
    margin-right: 13rem;
  }
  /* FOOTER */
  .animated-circle-font{
    font-size: 1.2vw;
  }
  .animated-circle-text {
    width: 15vw;
    height: 15vw;
  }
  /* HEADER */
  .header-link {
    font-size: 1vw;
  }
  .nav-bar {
    padding: 2rem;
  }
  .nav-wrapper {
    padding:0;
  } 
  /* ABOUT */
  .about-header-text-top {
    font-size: 9vw;
    padding: 4rem 0 0 4rem;
  }
  .about-header-text-bottom {
    font-size: 9vw;
    padding-left: 4rem
  }
  .about-text-header1 {
    padding: 5rem 0 0 3rem;
    font-size:2vw;
  }
  .about-text-header2 {
    padding: 2rem 0 0 3rem;
    font-size:1.5vw;
  }
  .about-body-text-1 {
    padding: 3rem 0 0 3rem;
    margin-top:1rem;
    font-size: 1.3vw;
  }
  .about-body-text-2 {
    padding: 3rem 0 0 3rem;
    font-size: 1.3vw;
  }
  .about-bottom-div-right {
    margin-top: 7rem;
    width:50%;
    padding-left:0rem;
  }
  .about-bottom-div-left {
    width:70%
  }
  /* CONTACT */
  .contact-left-col { 
    padding-left: 5rem;
  }
  .contact-right-col { 
    padding-right: 2rem;
  }
  /* 404 */
  .not-found-wrapper {
    margin-top:20%;
    z-index:5;
  }
  .not-found-header {
    color:white;
    font-size:3vw;
    margin-block-start: 0;
  }
  .not-found-text {
    color:white;
    font-size: 2vw;
    margin:0;
    padding:0;
  }
  .not-found-link {
    font-size: 2vw;
    margin-top:2rem;
  }
}

/* higher res screens */
@media only screen and (min-width: 1900px) {
  /* INDEX */
  .index-wrapper {
    flex-direction: row;
  }
  .index-header-left {
    margin-right: 18rem;
    font-size: 8vw;
  }
  .index-header-left-layer2 {
    margin-right: 18rem;
    font-size: 8vw;
  }
  .index-header-right {
    font-size: 8vw;
  }
  .index-header-right-layer2 {
    font-size: 8vw;
  }
  /* FOOTER */
  .animated-circle-font{
    font-size: 1vw;
  }
  .animated-circle-text {
    width: 13vw;
    height: 13vw;
  }
  /* HEADER */
  .header-link {
    font-size: .7vw;
  }
  .nav-bar {
    padding: 2rem;
  }
  .nav-wrapper {
    padding:0;
  } 
  /* ABOUT */
  .about-header-text-top {
    font-size: 7vw;
    padding: 2rem 0 0 8rem;
  }
  .about-header-text-bottom {
    font-size: 7vw;
    padding-left: 8rem
  }
  .about-text-header1 {
    padding: 5rem 0 0 6.5rem;
    font-size:1.5vw;
  }
  .about-text-header2 {
    padding: 2rem 0 0 6.5rem;
    font-size:0.9vw;
  }
  .about-body-text-1 {
    padding: 3rem 0 0 6.5rem;
    margin-top:1rem;
    font-size: 1.2vw;
  }
  .about-body-text-2 {
    padding: 3rem 0 0 6.5rem;
    font-size: 1.2vw;
  }
  .about-bottom-div-right {
    margin-top: 3.5rem;
    width:60%;
    padding-left:0rem;
  }
  .about-bottom-div-left {
    width:60%
  }
  /* CONTACT */
  .contact-left-col { 
    padding-left: 5rem;
  }
  .contact-right-col { 
    padding-right: 7rem;
  }
  /* 404 */
  .not-found-wrapper {
    margin-top:20%;
    z-index:5;
  }
  .not-found-header {
    color:white;
    font-size:2vw;
    margin-block-start: 0;
  }
  .not-found-text {
    color:white;
    font-size: 1vw;
    margin:0;
    padding:0;
  }
  .not-found-link {
    font-size: 1vw;
    margin-top:2rem;
  }
}